<section data-ng-controller="HomeController">
	<div class="page-header">
    	<h1 class="naslov1">O nama</h1>
    </div>
    <div class="row">
	    <div class="col-md-4"><img width="100%" height="100%" class="align-center" src="http://res.cloudinary.com/kengurjs/image/upload/v1439912015/11823801_1105702629444113_1079615523_n_vyl1s9.jpg"></div>
	    <div class="col-md-8"><p class="paragraf">Košarkaški Klub "Kengur" je osnovan 1998. godine kada je pokrenut projekat škole košarke, a kasnije i klub "Kengur". Ideja i misija kluba je bila stvoriti respektabilan sportski kolektiv koji će postati prepoznatljiv u zemlji i inostranstvu.</p>
	    <p class="paragraf text-justify">Veliki dio klubskih planova i nadanja osnivača "Kengura" Envera Jahića, u proteklih 10 godina se i ostvario. Kengur spada među jedinstvenu grupu klubova koji su uspjeli da osvoje titule šampiona na državnom nivou.Titule šampiona su ostvarene u kategorijama kadeta i juniora,a osvojene su i mnogobrojna druga i treća mjesta na državnim prvenstvima.Visok standard ponašanja na i van terenu postavljeni su za sve članove kluba.</p>
		<p class="paragraf text-justify">Kengur se takmiči u Ligi mladih Ze-Do kantona gdje gotovo svake godine se nalazi u vrhu,osvaja mjesta koja garantiraju prolazak na državni nivo takmičenja. "Kengur" spada u jedan od rijetkih klubova koji ima izrađenu veoma respektabilnu saradnju sa inostranim klubovima,i redovno dobija pozive za učešća na međunarodnim</p></div>
		<div>
		<p class="paragraf text-justify">turnirima u Hrvatskoj, Mađarskoj, Italiji, Francuskoj i Turskoj. Takođe klub ima privilegiju da se pohvali da su njegovi igrači kao članovi selekcije BiH učestvovali na turneji u SAD-u 2003. godine, a da je tadašnji igrač kluba Enes Hadžihalilović bio kapiten te selekcije.</p>
			<p class="paragraf text-justify">"Kengur" organizuje tradicionalni turnir "Kengur Kup" koji je međunarodnog karaktera i spada među najkvalitetnije i najmasovnije turnire u našoj državi. Hiljade djevojčica i dječaka koji su prošli kroz selekcije "Kengura", desetine reprezentativaca poniklih u ovom klubu, samo su neka postignuća "Kengur" sportske porodice. Fenerbahce, Cibona, Bosna, Zlatorog Celje, Cedevita, Zenica Čelik samo su neki od evropskih klubova koji danas u svojim redovima imaju igrače koji su prve kosarkaške korake načinili upravo u "Kenguru".</p>
			<p class="paragraf text-justify">Zenička "tvornica igrača" kako su mnogi nazvali klub u protekloj je deceniji bila polazna tačka za mnoge, danas poznate košarkaske ličnosti.bSamo neki od njih su: Nadan Duranović,bEmir Preldžić, Edin Alispahić, Dino Hodžić, Nebojša Andjelić, Eldar i Amar Merdanović, Adnan Hajder, Armin Huduti i mnogi drugi.
			Činjenica na koju je klub veoma ponosan jeste da mnogi bivši igrači nastavljaju svoj doprinos sportu i radu sa mladima kroz trenerski i sudijski rad.</p>
			<p class="paragraf text-justify">Slogan kluba glasi "Kengur-više od kluba" i sa sigurnošću možemo potvrditi da ovaj klub spada u sami vrh klubova u našoj državi koje se bave radom sa mladim košarkašima.</p>
			</div>
		</div>
	</div >
	</section>
