<section data-ng-controller="HomeController" data-ng-init="getnewarticles()">
    <div class="page-header">
        <h1 class="naslov1">Dashboard</h1>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary naslov1" data-ng-href="/#!/players">Lista igrača</a>
        <a class="btn btn-primary naslov1" data-ng-href="/#!/competitions">Lista Takmičenja</a>
        <a class="btn btn-primary naslov1" data-ng-href="/#!/statlines">Lista statističkih podataka</a>
        <a class="btn btn-primary naslov1" data-ng-href="/#!/attendences">Lista događaja</a>
    </div>
</section>
