<div class="container" data-ng-controller="HeaderController">
	 <nav class="collapse navbar-collapse noPaddingLR" role="navigation" collapse="!isCollapsed" style="height: 50px;">
        <ul class="nav navbar-nav">
            <li class="naslov1"><a href="/#!/">KK Kengur Zenica</a></li>
            <li class="naslov1"><a href="/#!/articles">Vijesti</a></li>
            <li class="naslov1"><a href="/#!/about">O nama</a></li>
            <li class="naslov1"><a href="/#!/gallery">Galerija</a></li>
            <li class="naslov1"><a href="/#!/kengurcup">Kengur Kup</a></li>
            <li class="naslov1"><a href="/#!/contact">Kontakt</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user" style="margin-bottom: 0px;padding-right: 15px;">
            <li class="naslov1" ui-route="/signup" ng-class="{active: $uiRoute}">
                <a href="/#!/signup">Registracija</a>
            </li>
            <li class="divider-vertical"></li>
            <li  class="naslov1" ui-route="/signin" ng-class="{active: $uiRoute}">
                <a href="/#!/signin">Prijavi se!</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user" style="margin-bottom: 0px; padding-right: 15px;">
            <li class="naslov1">
                    <a data-ng-if="isAdmin()=== true" href="/#!/report">Dashboard</a>
                    <a data-ng-if="isAdmin()!== true" href="/#!/dashboard">Dashboard</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="naslov1" data-ng-bind="authentication.user.firstName"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu naslov1">
                    <li><a href="/#!/settings/profile">Uredite Profil</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Odjava</a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
</div>
