<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/kengurlogo.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Omladinski košarkaški klub "Kengur" Zenica
			</p>
		</div>
	</div>
    <div data-ng-init="getnewarticles()">
        <div data-ng-repeat="article in articles track by article._id">
            <div class="col-md-3 well well-sm col-xs-12">
                <h3>{{article.title}}</h3>
                <p>{{article.contentbit}}</p>
                <a data-ng-href="#!/articles/{{article._id}}" class="btn btn-primary">Dalje...</a>
            </div>
        </div>
    </div>
</section>
