<section data-ng-controller="HomeController" data-ng-init="getnewarticles()">
    <div class="col-md-12">
        <carousel interval="myInterval" no-wrap="noWrapSlides">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
        </carousel>
    </div>
    <br>
    <div class="col-md-12">
        <h2 class="naslov1">Najnovije vijesti</h2>
        <hr>
            <div data-ng-repeat="article in articles track by article._id">
                <div class="col-md-3 well well-sm col-xs-12">
                    <h3 class="naslov2">{{article.title}}</h3>
                    <p>{{article.contentbit}}</p>
                    <a data-ng-href="#!/articles/{{article._id}}" class="btn btn-primary">Dalje...</a>
                </div>
            </div>
    </div>
</section>
