<section data-ng-controller="HomeController">
    <div class="page-header">
        <h1 class="naslov1">Kengur Kup 2015</h1>
    </div>
    <div class="col-md-12 paragraf">
    17. Kengur Kup se održava u sljedećim kategorijama:
       <nav>
		  <ul class="pagination" data-ng-repeat="t in tables">
		    <li><a data-ng-click="changeclass({{t.num}})" class="komentarparagraf">{{t.name}}</a></li>
		  </ul>
		</nav>
    </div>
     <div class="slide-animate-container">
    <div class="slide-animate" data-ng-include="table.url"></div>
  </div>
  <hr>
</section>