<section data-ng-controller="HomeController">
    <div class="container">
        <h4 class="komentarnaslov">Pioniri</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Ekipe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kengur Zenica (BIH)</td>
        <td>ZTE (HUN)</td>
        <td>Kakanj (BIH)</td>
        <td>KK ABC Tuzla (BIH)</td>  
      </tr>
      <tr>
        <td>Lions Tuzla (BIH)</td>
        <td>Đakovo Sedam (HRV)</td>
        <td>Vojnik (SLO)</td>
        <td>KK Konjic (BIH)</td>
      </tr>
    </tbody>
  </table>
  <table class="table">
     <thead>
      <tr>
        <th>Par</th>
        <th>Satnica</th>
        <th>Sala</th>
        <th>Rezultat</th>
      </tr>
    </thead>
    <tbody>
         <tr>
            <td>KENGUR - LIONS TUZLA</td>
            <td>29.08.2015. 09:00</td>
            <td>Arena 3</td>
            <td>58 : 33</td>
        </tr>
         <tr>
            <td>VOJNIK - KAKANJ</td>
            <td>29.08.2015. 10:20</td>
            <td>Arena 3</td>
            <td>47 : 30</td>
        </tr>
         <tr>
            <td>KONJIC - ZTE</td>
            <td>29.08.2015. 11:40</td>
            <td>Arena 3</td>
            <td>30 : 59</td>
        </tr>
         <tr>
            <td>ABC TUZLA - ĐAKOVO SEDAM</td>
            <td>29.08.2015. 13:00</td>
            <td>Arena 2</td>
            <td>83 : 37</td>
        </tr>
         <tr>
            <td>5. do 8. (poraženi A - B) LIONS - KAKANJ</td>
            <td>29.08.2015. 14:20</td>
            <td>Arena 3</td>
            <td>34 : 38</td>
        </tr>
         <tr>
            <td>5. do 8. (poraženi C - D) KONJIC - ĐAKOVO</td>
            <td>29.08.2015. 15:40</td>
            <td>Arena 3</td>
            <td>59 : 53</td>
        </tr>
         <tr>
            <td>polufinale (pobjednici A - B) KENGUR - VOJNIK</td>
            <td>29.08.2015. 17:00</td>
            <td>Arena 2</td>
            <td>46 : 36</td>
        </tr>
         <tr>
            <td>polufinale (pobjednici C - D) ZTE - ABC TUZLA</td>
            <td>29.08.2015. 18:20</td>
            <td>Arena 2</td>
            <td>42 : 52</td>
        </tr>
         <tr>
            <td>(za 7. mjesto) LIONS - ĐAKOVO</td>
            <td>30.08.2015. 09:00</td>
            <td>OŠ "Skender Kulenović"</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 5. mjesto) KAKANJ - KONJIC</td>
            <td>30.08.2015. 10:20</td>
            <td>OŠ "Skender Kulenović"</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 3. mjesto) VOJNIK - ZTE</td>
            <td>30.08.2015. 10:20</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>Finale KENGUR - ABC TUZLA</td>
            <td>30.08.2015. 13:00</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
    </tbody>
  </table>
</div>
</section>