<section data-ng-controller="HomeController">
    <div class="container">
        <h4 class="komentarnaslov">Kadetkinje</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Ekipe</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kengur Zenica (BIH)</td>
        <td>Teslić (BIH)</td>
        <td>Bugojno Basket Time (BIH)</td>
        <td>Travnik (BIH)</td>  
      </tr>
      <tr>
        <td>Vitez (BIH)</td>
        <td>Đakovo Sedam (HRV)</td>
        <td>Tešanj (BIH)</td>
        <td>KK Konjic (BIH)</td>
      </tr>
    </tbody>
  </table>
  <table class="table">
     <thead>
      <tr>
        <th>Par</th>
        <th>Satnica</th>
        <th>Sala</th>
        <th>Rezultat</th>
      </tr>
    </thead>
    <tbody>
         <tr>
            <td>KENGUR - TRAVNIK</td>
            <td>29.08.2015. 09:00</td>
            <td>Bilmišće</td>
            <td> : </td>
        </tr>
         <tr>
            <td>TESLIĆ - BUG. BASKET TIME</td>
            <td>29.08.2015. 10:20</td>
            <td>Bilmišće</td>
            <td> : </td>
        </tr>
         <tr>
            <td>VITEZ - ĐAKOVO SEDAM</td>
            <td>29.08.2015. 11:40</td>
            <td>Bilmišće</td>
            <td> : </td>
        </tr>
         <tr>
            <td>TEŠANJ - KONJIC</td>
            <td>29.08.2015. 13:00</td>
            <td>Bilmišće</td>
            <td> : </td>
        </tr>
         <tr>
            <td>polufinale (pobjednici A - B) </td>
            <td>29.08.2015. 14:20</td>
            <td>Bilmišće</td>
            <td> : </td>
        </tr>
         <tr>
            <td>5. do 8. (poraženi A - B)</td>
            <td>29.08.2015. 15:40</td>
            <td>Bilmišće</td>
            <td> : </td>
        </tr>
         <tr>
            <td>polufinale (pobjednici C - D)</td>
            <td>29.08.2015. 17:00</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>5. do 8. (poraženi C - D)</td>
            <td>29.08.2015. 18:20</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 7. mjesto)</td>
            <td>30.08.2015. 09:00</td>
            <td>OŠ "Skender Kulenović"</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 5. mjesto)</td>
            <td>30.08.2015. 11:40</td>
            <td>OŠ "Musa Ćazim Čatić"</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 3. mjesto)</td>
            <td>30.08.2015. 10:20</td>
            <td>Arena 3</td>
            <td> : </td>
        </tr>
         <tr>
            <td>Finale</td>
            <td>30.08.2015. 13:00</td>
            <td>Arena 3</td>
            <td> : </td>
        </tr>
    </tbody>
  </table>
</div>
</section>