<section data-ng-controller="HomeController">
    <div class="container">
        <h4 class="komentarnaslov">Juniori</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Grupa A</th>
        <th>Grupa B</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kengur Zenica (BIH)  3:0  6</td>
        <td>KK Bosna Sarajevo (BIH) 2:1 5</td>      
      </tr>
      <tr>
        <td>KK Gen Sarajevo (BIH) 2:1 5</td>
        <td>OKK Čelik Zenica (BIH) 2:1 5</td>
      </tr>
      <tr>
        <td>KK ABC Tuzla (BIH) 1:2 4</td>
        <td>Đakovo (HRV) 1:2 4</td>
      </tr>
      <tr>
        <td>KK Konjic (BIH) 0:3 3</td>
        <td>ZTE (HUN) 1:2 4</td>
      </tr>
    </tbody>
  </table>
  <table class="table">
     <thead>
      <tr>
        <th>Par</th>
        <th>Satnica</th>
        <th>Sala</th>
        <th>Rezultat</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>KENGUR - ABC TUZLA</td>
            <td>28.08.2015. 15:30</td>
            <td>Arena 1</td>
            <td>63 : 36</td>
        </tr>
         <tr>
            <td>ĐAKOVO - BOSNA</td>
            <td>28.08.2015. 16:50</td>
            <td>Arena 1</td>
            <td>59 : 46</td>
        </tr>
         <tr>
            <td>KONJIC - GEN</td>
            <td>28.08.2015. 18:10</td>
            <td>Arena 1</td>
            <td>37 : 51</td>
        </tr>
         <tr>
            <td>ZTE - ČELIK</td>
            <td>28.08.2015. 19:30</td>
            <td>Arena 1</td>
            <td>40 : 63</td>
        </tr>
         <tr>
            <td>KENGUR - KONJIC</td>
            <td>29.08.2015. 09:00</td>
            <td>Arena 1</td>
            <td>51 : 32</td>
        </tr>
         <tr>
            <td>BOSNA - ČELIK</td>
            <td>29.08.2015. 10:20</td>
            <td>Arena 1</td>
            <td>66 : 64</td>
        </tr>
         <tr>
            <td>GEN - ABC</td>
            <td>29.08.2015. 11:40</td>
            <td>Arena 1</td>
            <td>49 : 41</td>
        </tr>
         <tr>
            <td>ZTE - ĐAKOVO</td>
            <td>29.08.2015. 13:00</td>
            <td>Arena 1</td>
            <td>39 : 51</td>
        </tr>
         <tr>
            <td>KENGUR - GEN</td>
            <td>29.08.2015. 14:20</td>
            <td>Arena 1</td>
            <td>48 : 46</td>
        </tr>
         <tr>
            <td>BOSNA - ZTE</td>
            <td>29.08.2015. 15:40</td>
            <td>Arena 1</td>
            <td>50 : 59</td>
        </tr>
         <tr>
            <td>KONJIC - ABC TUZLA</td>
            <td>29.08.2015. 17:00</td>
            <td>Arena 1</td>
            <td>41 : 46</td>
        </tr>
         <tr>
            <td>ĐAKOVO - ČELIK</td>
            <td>29.08.2015. 18:20</td>
            <td>Arena 1</td>
            <td>27 : 74</td>
        </tr>
         <tr>
            <td>(za 7. mjesto) KONJIC - ZTE</td>
            <td>30.08.2015. 09:00</td>
            <td>Arena 3</td>
            <td>42 : 41</td>
        </tr>
         <tr>
            <td>(za 5. mjesto) ABC TUZLA - ĐAKOVO</td>
            <td>30.08.2015. 10:20</td>
            <td>Arena 1</td>
            <td>63 : 61</td>
        </tr>
         <tr>
            <td> (za 3. mjesto) GEN - ČELIK</td>
            <td>30.08.2015. 11:40</td>
            <td>Arena 1</td>
            <td>46 : 59</td>
        </tr>
         <tr>
            <td>Finale KENGUR - BOSNA</td>
            <td>30.08.2015. 14:30</td>
            <td>Arena - Centralni Teren</td>
            <td>88 : 70</td>
        </tr>
    </tbody>
  </table>
</div>
</section>