<section data-ng-controller="HomeController">
    <div class="container">
        <h4 class="komentarnaslov">Juniori</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Grupa A</th>
        <th>Grupa B</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kengur Zenica (BIH)</td>
        <td>ZTE (HUN)</td>      
      </tr>
      <tr>
        <td>KK Konjic (BIH)</td>
        <td>Đakovo (HRV)</td>
      </tr>
      <tr>
        <td>KK Gen Sarajevo (BIH)</td>
        <td>KK Bosna Sarajevo (BIH)</td>
      </tr>
      <tr>
        <td>KK ABC Tuzla (BIH)</td>
        <td>OKK Čelik Zenica (BIH)</td>
      </tr>
    </tbody>
  </table>
  <table class="table">
     <thead>
      <tr>
        <th>Par</th>
        <th>Satnica</th>
        <th>Sala</th>
        <th>Rezultat</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>KENGUR - ABC TUZLA</td>
            <td>28.08.2015. 15:30</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>ĐAKOVO - BOSNA</td>
            <td>28.08.2015. 16:50</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>KONJIC - GEN</td>
            <td>28.08.2015. 18:10</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>ZTE - ČELIK</td>
            <td>28.08.2015. 19:30</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>KENGUR - KONJIC</td>
            <td>29.08.2015. 09:00</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>BOSNA - ČELIK</td>
            <td>29.08.2015. 10:20</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>GEN - ABC</td>
            <td>29.08.2015. 11:40</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>ZTE - ĐAKOVO</td>
            <td>29.08.2015. 13:00</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>KENGUR - GEN</td>
            <td>29.08.2015. 14:20</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>BOSNA - ZTE</td>
            <td>29.08.2015. 15:40</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>KONJIC - ABC TUZLA</td>
            <td>29.08.2015. 17:00</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>ĐAKOVO - ČELIK</td>
            <td>29.08.2015. 18:20</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 7. mjesto)</td>
            <td>30.08.2015. 09:00</td>
            <td>Arena 3</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 5. mjesto)</td>
            <td>30.08.2015. 10:20</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td> (za 3. mjesto)</td>
            <td>30.08.2015. 11:40</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>Finale</td>
            <td>30.08.2015. 14:30</td>
            <td>Arena - Centralni Teren</td>
            <td> : </td>
        </tr>
    </tbody>
  </table>
</div>
</section>