<section data-ng-controller="HomeController">
    <div class="container">
        <h4 class="komentarnaslov">Kadeti</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Grupa A</th>
        <th>Grupa B</th>
        <th>Grupa C</th>
        <th>Grupa D</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Kengur Zenica (BIH)</td>
        <td>ZTE (HUN)</td>
        <td>Kakanj (BIH)</td>
        <td>KK ABC Tuzla (BIH)</td>  
      </tr>
      <tr>
        <td>Lions Tuzla (BIH)</td>
        <td>Željezničar Bihać (BIH)</td>
        <td>Đakovo (HRV)</td>
        <td>Vojnik (SLO)</td>
      </tr>
      <tr>
      	<td>KK Teslić (BIH)</td>
      	<td>KK Bosna Sarajevo (BIH)</td>
      	<td>KK Gen Sarajevo (BIH)</td>
        <td>KK Konjic (BIH)</td>
      </tr>
    </tbody>
  </table>
  <table class="table">
     <thead>
      <tr>
        <th>Par</th>
        <th>Satnica</th>
        <th>Sala</th>
        <th>Rezultat</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>KAKANJ - ĐAKOVO</td>
            <td>28.08.2015. 15:30</td>
            <td>Arena 2</td>
            <td>61 : 24</td>
        </tr>
         <tr>
            <td>KENGUR - LIONS TUZLA</td>
            <td>28.08.2015. 16:50</td>
            <td>Arena 2</td>
            <td>68 : 36</td>
        </tr>
         <tr>
            <td>ABC TUZLA - VOJNIK</td>
            <td>28.08.2015. 18:10</td>
            <td>Arena 2</td>
            <td>55 : 49</td>
        </tr>
         <tr>
            <td>ZTE - ŽELJ. BIHAĆ</td>
            <td>28.08.2015. 19:30</td>
            <td>Arena 2</td>
            <td>48 : 50 (40 : 40)</td>
        </tr>
         <tr>
            <td>ĐAKOVO - GEN</td>
            <td>29.08.2015. 09:00</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>ZTE - BOSNA</td>
            <td>29.08.2015. 10:20</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>VOJNIK - KONJIC</td>
            <td>29.08.2015. 11:40</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>KENGUR - TESLIĆ</td>
            <td>29.08.2015. 13:00</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>BOSNA - ŽELJ. BIHAĆ</td>
            <td>29.08.2015. 14:20</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>GEN - KAKANJ</td>
            <td>29.08.2015. 15:40</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>LIONS TUZLA - TESLIĆ</td>
            <td>29.08.2015. 17:00</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>ABC TUZLA - KONJIC</td>
            <td>29.08.2015. 18:20</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(Polufinale I, pobjednici A - D)</td>
            <td>30.08.2015. 09:00</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(Polufinale II, pobjednici B - C)</td>
            <td>30.08.2015. 09:00</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 9. mjesto) 3A - 3D</td>
            <td>30.08.2015. 12:20</td>
            <td>OŠ "Musa Ćazim Čatić"</td>
            <td> : </td>
        </tr>
         <tr>
            <td>(za 9. mjesto) 3B - 3C </td>
            <td>30.08.2015. 09:00</td>
            <td>Bilmišće</td>
            <td> : </td>
        </tr>
        <tr>
            <td>(za 5. mjesto) 2A - 2D</td>
            <td>30.08.2015. 10:20</td>
            <td>Bilmišće</td>
            <td> : </td>
        </tr>
        <tr>
            <td>(za 5. mjesto) 2B - 2C</td>
            <td>30.08.2015. 11:40</td>
            <td>Arena 2</td>
            <td> : </td>
        </tr>
        <tr>
            <td>(za 3. mjesto, poraženi I - II)</td>
            <td>30.08.2015. 11:40</td>
            <td>Arena 1</td>
            <td> : </td>
        </tr>
        <tr>
            <td>Finale</td>
            <td>30.08.2015. 14:30</td>
            <td>Arena - Centralni Teren</td>
            <td> : </td>
        </tr>
    </tbody>
  </table>
</div>
</section>