<section data-ng-controller="ArticlesController" data-ng-init="find()">
	<div class="page-header">
		<h1 class="naslov1">Vijesti</h1>
	</div>
	<div data-ng-show="isUser">
		<a class="btn btn-primary naslov1" data-ng-href="#!/articles/create">Dodaj novu vijest</a>
	</div>
	<br>
	<div class="list-group">
		<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<h4 class="komentarnaslov" data-ng-bind="article.title"></h4>
			<p class="komentarparagraf" data-ng-bind="article.contentbit"></p>
			<a href="{{article.imageLink}}"><img width="50%" src="{{article.imageThumb}}"></a>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		Nema vijesti, bili Ste željeli da <a href="/#!/articles/create">napišete jednu</a>?
	</div>
</section>
