<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 class="naslov1" data-ng-bind="article.title"></h1>
        <small class="paragraf">
        <em class="text-muted">
            Postavljeno:
            <span data-ng-bind="article.created | date:'mediumDate'"></span>
             Autor:
            <span data-ng-bind="article.user.displayName"></span>
        </em>
    </small>
	</div>
    <div class="row">
        <a class="col-md-4" href="{{article.imageLink}}"><img width="100%" src="{{article.imageLink}}"></a>
	    <p  class="paragraf text-justify col-md-8" data-ng-bind="article.content"></p>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
        <a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <h3 class="naslov1">Komentari</h3>
    <hr>
    <div class="list-group">
        <a class="btn btn-primary naslov1" href="/#!/comments/{{article._id}}/create">Dodaj novi komentar</a>
    </div>
    <div class="list-group" data-ng-init="findComments()">
        <a data-ng-repeat="comment in relevantcomments" data-ng-href="#!/comments/{{article._id}}/{{comment._id}}" class="list-group-item">
            <h4 class="komentarnaslov" data-ng-bind="comment.name"></h4>
            <p class="komentarparagraf" data-ng-bind="comment.text"></p>
            <small class="list-group-item-text">
                  <span data-ng-bind="comment.created | date:'medium'"></span>
                by
                <span data-ng-bind="comment.user.displayName"></span>
            </small>
        </a>
    </div>
</section>
