<section data-ng-controller="StatlinesController" data-ng-init="listPlayers()">
    <div class="page-header">
        <h1>Nova statistika{{test}}</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Igrač:</label>
                    <div class="controls">
                        <select class="form-control" data-ng-model="player" data-ng-options="player.name for player in players">
                        </select>
                    </div>
                    <label class="control-label" for="name">Takmičenje:</label>
                    <div class="controls">
                        <select class="form-control" data-ng-model="competition" data-ng-options="competition.name for competition in competitions">
                        </select>
                    </div>
                    <label class="control-label" for="name">Naziv:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="name">Poeni:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="points" id="points" class="form-control" placeholder="Poeni" required>
                    </div>
                    <label class="control-label" for="name">Greške:</label>
                    <div class="controls">
                        <input type="text" data-ng-model="fouls" id="fouls" class="form-control" placeholder="Greške" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
